* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --boxShadow: 0 10px 20px rgba(0,0,0,0.2);
  --textShadow: 0px 5px 10px rgb(0, 0, 0, 0.4);
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  text-shadow: var(--textShadow);
}

section {
  padding: 100px 0;
}

/* nav section */
.navbar {
  background-color: rgb(114, 49, 49);
}

a {
  color: #fff !important;
  text-decoration: none;
  margin-right: 20px;
}

/* hero section */
.hero {
  background-image: url("./images/epi-top-icon.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.hero::after {
content: "";
position: absolute;
width: 100%;
height: 100vh;
top: 0;
left: 0;
background-color: rgb(45, 45, 45);
opacity: 0.7;
z-index: -1;
}

.hero h1 {
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 0px 5px 10px rgb(0, 0, 0);
}

/* about section */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* item section */

.item-img {
  background-image: url("./images/item-bg.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.item {
  position: relative;
  overflow: hidden;
}

.item:hover .overlay {
  opacity: 1;
}

.item:hover img {
  transform: scale(1.1);
}

.item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 40, 40, 0.7);
  padding: 30px;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: 0.5s;
}

.item img {
  transition: 0.5s;
}

img {
  width: 100%;
  display: inline-block;
  height: 300px;
  object-fit: cover;
}

.item h6 {
  font-size: 2rem;
}

/* acsess section */
.acsess-img {
  background-image: url("./images/acsess.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.acsess {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.acsess-title, .item-title, .about-title, .contact-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 4rem;
}

iframe {
  width: 100%;
  height: 500px;
}

#footer {
  background-color: rgb(114, 49, 49);
  padding: 50px 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  margin-right: 10px;
}
